################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleBuzzIn
/BuzzIn/bin/Debug/net5.0
/BuzzIn/obj
/SampleBuzzIn/bin/Debug/net5.0-windows
/SampleBuzzIn/obj
/WpfBuzzN/bin/Debug/net5.0-windows
/WpfBuzzN/obj
